:root { 
--gray_50_01:#fff5f8; 
--gray_400:#c7c7c7; 
--gray_50_02:#f8f8f8; 
--gray_500:#929292; 
--gray_800:#484848; 
--gray_900:#222222; 
--gray_900_01:#1a1a1a; 
--gray_300:#dfdfdf; 
--gray_50:#fff5f7; 
--black_900_01:#0a0a0a; 
--black_900:#000000; 
--white_A700:#ffffff; 
--black_900_02:#070706; 
}